*{
    margin: 0;
    padding: 0;
}



.about {

    height: 100vh;
    background: linear-gradient(rgba(83, 83, 83, 0.8),rgba(48, 36, 52, 0.8)), url(home.jpg),no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
    
    }


.heading {
    font-size: 4rem;
    color: #fff;
    padding: 0 1rem;
    text-align: center;
    padding-top: 6rem;
    letter-spacing: .2rem;
    font-weight: 500;
 }
 
 
  .title {
    font-size: 2rem;
    color:#fff;  
    padding: 0 1rem;
    text-align: center;
    font-weight: 400;
 }
 
 .about .rowform {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 
 .about .rowform .image img {
   height: 70vh;
   width: 50vw;
 }
 .about .rowform .content {
   padding: 3rem;
   background: #b35042;
   align-items: center;
   border-radius: 3rem;
 }

 button{
    width: 20rem;
    background: #ebebeb !important;
    color: black !important;
    margin-top: .5rem !important;
 } 

 button:hover{
 
  background: rgb(175, 175, 175) !important;
  letter-spacing: .2rem;

 } 




 @media (max-width:768PX) {
    html {
        font-size: 55%;
    }

    header .fa-bars {
      
        display: block;
        cursor: pointer;     
    }
   
    header .navbar {
      position: fixed;
      top: -100rem; left:0;
      width:100% ;
      border-radius: 1rem;
      background: #fff;
      opacity: 0;
      transition: .2s linear;
    }
    
    header .navbar ul  {
       flex-flow:column;
       padding: 2rem 0;
      }
    header .navbar ul li {
      margin: 1rem 0;
      width: 100%;
      text-align: center;
       }

     header .navbar ul li a{
           font-size: 3rem;
           display: block;
         }
         
     header .nav-toggle{
       top: 5.5rem;
       opacity: 1;
    }

     .home .content p{
      padding:1.5rem 2rem ;
     } 

     .home::before{
      display: none;
     } 

    .about .row {
      flex-flow: column-reverse;
    }  
    .about .row .image img {
      height: 60vh;
      width: 90vw;
    }  
    .about .row .content { 
      padding: 0 2.5rem;
    }  

  }