*{
    margin: 0;
    padding: 0;
}


.about {

    min-height: 100vh;
    background: linear-gradient(rgba(1, 13, 22, 0.866),rgb(65, 64, 64)), url(js.jpg),no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
    
    }


.heading {
    font-size: 4rem;
    color: #fff;
    padding: 0 1rem;
    text-align: center;
    padding-top: 3rem;
    letter-spacing: .2rem;
    font-weight: 500;
 }
 
 
  .title {
    font-size: 2rem;
    color:#fff;  
    padding: 0 1rem;
    text-align: center;
    font-weight: 400;
 }
 
 .about .rowform {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 .about form{
    width: 25rem;
 }
 
 .about .rowform .image img {
   height: 70vh;
   width: 50vw;
 }
 .about .rowform .content {
   padding: 3rem;
   background: #b35042;
   align-items: center;
   border-radius: 3rem;
   margin-bottom: 1rem;
 }

 button{
    width: 25rem;
    background: #ebebeb !important;
    color: black !important;
    margin-top: .5rem !important;
 } 

 button:hover{
 
  background: rgb(175, 175, 175) !important;
 
 } 


 @media (max-width:900PX) {
   

    .about .rowform {
      flex-flow: column-reverse;
    }  
    .about .rowform .image img {
      height: 60vh;
      width: 90vw;
    }  
    .about .rowform .content {  
 margin-bottom: 2rem;    }  

  }